{% block body %}
<div id="subView" style="display: block;">
	<div class="col-md-3">
		<a href="{{ path('editer_societe', {tokenChercher: societe.tokenSociete}) }}" class="btn btn-block  btn-primary"  role="button" aria-pressed="true">	
			<i class="fa fa-edit" aria-hidden="true"></i> Editer
		</a>
	</div>
	<div class="col-md-3">
		<a href="{{ path('edition_societe_utilisateur', {tokenChercher: societe.tokenSociete}) }}" class="btn btn-block  btn-primary"  role="button">
			<i class="fas fa-user-shield" aria-hidden="true"></i> Droits société
		</a>
	</div>
	<div class="col-md-3">
		<a href="{{ path('list_utilisateur_societe', {tokenChercher: societe.tokenSociete}) }}" class="btn btn-block btn-primary"  role="button" aria-pressed="true"> 
			<i class="fa fa-edit" aria-hidden="true"></i> Utilisateurs
		</a>
	</div>
	<div class="col-md-3">
		<a href="{{ path('supprimer_societe', {tokenChercher: societe.tokenSociete}) }}" class="btn btn-block btn-danger"  role="button" aria-pressed="true">
			<i class="fa fa-trash" aria-hidden="true"></i> Supprimer
		</a>
	</div>
	<h2>Coordonnées</h2>
	<table class="table table-striped table-bordered" style="width:100%">
		<tbody>
			<tr>
				<td scope="col">Raison Social</td>
				<th scope="col">{{ societe.RaisonSocial}}</th>
				<td scope="col">Adresse</td>
				<th scope="col">{{ societe.AdresseSociete}}</th>
			</tr>
			<tr>
				<td scope="col">Code postal</td>
				<th scope="col">{{ societe.CodePostalSociete}}</th>
				<td scope="col">Ville</td>
				<th scope="col">{{ societe.Ville}}</th>
			</tr>
			<tr>
				<td scope="col">Téléphone</td>
				<th scope="col">{{ societe.TelSociete}}</th>
				<td scope="col">Email</td>
				<th scope="col">{{ societe.EmailSociete}}</th>
			</tr>
			<tr>
				<td scope="col">SIRET</td>
				<th scope="col">{{ societe.SIRETSociete}}</th>
				<td scope="col">R.C.S</td>
				<th scope="col">{{ societe.RCSociete}}</th>
			</tr>
		</tbody>
	</table>
	<h2>Utilisateurs :</h2>
	<table class="table table-striped table-bordered"  style="width:100%">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Identifiant</th>
				<th scope="col">Téléphone</th>
				<th scope="col">Email</th>
			</tr>
		</thead>

		<tbody>
	    {% for utilisateur in utilisateurs %}
			<tr>
				<td>{{ utilisateur.NomUtilisateur }} {{ utilisateur.PrenomUtilisateur }}</td>
				<td>{{ utilisateur.loginUtilisateur }}</td>
				<td>{{ utilisateur.TelUtilisateur }} {{ utilisateur.MobileUtilisateur }}</td>
				<td>{{ utilisateur.EmailUtilisateur }}</td>
			</tr>
		{%endfor%}
		</tbody>
	</table>
</div>


{% endblock %}