{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
        <div class="col-sm-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Droits sur {{ nomsociete }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                     <div class="dataTables_wrapper form-inline dt-bootstrap">
                        {{ form_start(form) }}
                        <table class="table table-bordered table-hover dataTable" id="all_applications" width="100%">
                            <thead>
                            <tr>
                            	<th class="hidden">Société</th>
                                <th class="text-center">Module</th>
                                <th class="text-center"><a onclick="selection_colonne('lecture')">Lecture</a></th>
                                <th class="text-center"><a onclick="selection_colonne('modification')">Modification</a></th>
                                <th class="text-center"><a onclick="selection_colonne('suppression')">Administrateur</a></th>
                                <th class="text-center"><a onclick="selection_colonne('bloque')">Accès bloqué</a></th>
                                <th class="text-center">Seulement son compte</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for droit in form.droits %}
                                {{ form_errors(droit) }}
	                              	<tr>
	                                   	<td class="hidden">{{ form_widget(droit.SocieteId, {'attr': {'class': 'c-select'}}) }}</td>
	                                    <td class="text-center">{{ form_widget(droit.moduleID, {'attr': {'class': 'c-select form-control-plaintext'}}) }}</td>
	                                    <td class="text-center">{{ form_widget(droit.lectureEcritureSuppression.0, {'attr': {'class': 'c-select'}}) }}</td>
                                        <td class="text-center">{{ form_widget(droit.lectureEcritureSuppression.1, {'attr': {'class': 'c-select'}}) }}</td>
                                        <td class="text-center">{{ form_widget(droit.lectureEcritureSuppression.2, {'attr': {'class': 'c-select'}}) }}</td>
                                        <td class="text-center">{{ form_widget(droit.lectureEcritureSuppression.3, {'attr': {'class': 'c-select'}}) }}</td>
	                                    <td class="text-center">{{ form_widget(droit.SeulTous, {'attr': {'class': 'c-select'}}) }}</td>
	                                </tr>
                            {% endfor %}
                             </tbody>
                        </table>
                         <button type="submit" class="btn btn-primary btn-lg btn-block">Modifier</button>
                         {{ form_end(form) }}
                        <div>
 
                    </div>
                    </div>
                </div>
            </div>
        </div>
     </div><!-- row -->
    <script language="javascript">
        function selection_colonne(id_item) {
         var radios = document.getElementsByTagName('input');
         var myRegex = /all_/;
         for (var i = 0; i < radios.length; i++) {
           if(myRegex.test(radios[i].id) && (radios[i].dataset.type != 'all_'+id_item)) {
             radios[i].checked = false;
           }
           if (radios[i].type == 'radio' && radios[i].dataset.type == id_item) {
             radios[i].checked = true;
           }
         }
        }
    </script>
{% endblock %}