{% if valeurDroit >= 20 %}
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
		{{ RaisonSocial}}
	</a>
	<ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -165px, 0px); top: 0px; left: 0px; will-change: transform;">
		<li class="dropdown-item" style="padding:5px;">
			<a href="{{ path('ouvrir_societe', {tokenChercher: tokenSociete}) }}" style="color:#FFF !important" class="btn btn-sm  btn-primary"  role="button" aria-pressed="true">	
				<i class="fa fa-open" aria-hidden="true"></i> Ouvrir
			</a>
		</li>
		<li class="dropdown-item" style="padding:5px;">
			<a href="{{ path('editer_societe', {tokenChercher: tokenSociete}) }}" style="color:#FFF !important" class="btn btn-sm  btn-primary"  role="button" aria-pressed="true">	
				<i class="fa fa-edit" aria-hidden="true"></i> Editer
			</a>
		</li>
		<li class="dropdown-item" style="padding:5px;">
			<a href="{{ path('edition_societe_utilisateur', {tokenChercher: tokenSociete}) }}" style="color:#FFF !important" class="btn btn-block  btn-primary"  role="button">
					<i class="fas fa-user-shield" aria-hidden="true"></i> Droits société
			</a>
		</li>

		<li class="dropdown-item" style="padding:5px;">
			<a href="{{ path('list_utilisateur_societe', {tokenChercher: tokenSociete}) }}" style="color:#FFF !important" class="btn btn-sm btn-primary"  role="button" aria-pressed="true"> 
				<i class="fa fa-edit" aria-hidden="true"></i> Utilisateurs
			</a>
		</li>
		{% if valeurDroit >= 30 %}
			<li class="dropdown-divider"></li>
			<li class="dropdown-item" style="padding:5px;">
				<a href="{{ path('supprimer_societe', {tokenChercher: tokenSociete}) }}" style="color:#FFF !important" class="btn btn-sm btn-danger"  role="button" aria-pressed="true">
					<i class="fa fa-trash" aria-hidden="true"></i> Supprimer
				</a>
			</li>
		{% endif %}
	</ul>
{% else %}
	{{ RaisonSocial}}
{% endif %}
