<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Facnote{% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
           
            
            {# custom #}

            
          <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/keytable/2.4.0/js/dataTables.keyTable.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.css">
     <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css">
    
              
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- DataTables -->
           <!-- <link rel="stylesheet" href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.css') }}"> -->

             <link rel="stylesheet" type="text/css"  href="{{  asset('assets/css/easyzoom.css') }}">

            <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/Editor-1.7.4/css/editor.bootstrap4.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/AutoFill-2.3.0/css/autoFill.bootstrap4.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/Buttons-1.5.2/css/buttons.bootstrap4.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/Responsive-2.2.2/css/responsive.bootstrap4.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/Select-1.2.6/css/select.bootstrap4.min.css') }}"/>

            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.4.0/css/keyTable.dataTables.min.css"/>
             <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css"/>

   <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    -->

    <link rel="stylesheet" type="text/css" href="https://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.css">



            <!-- Theme style -->        
            <link rel="stylesheet" href="{{ asset('assets/dist/css/adminlte.min.css') }}">
            
            <link rel="stylesheet" href="{{ asset('assets/dist/css/_all-skins.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/dist/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
 
            <!-- Google Font: Source Sans Pro -->
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
            <!-- bootstrap wysihtml5 - text editor -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">




        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

       
<style type="text/css" class="init">
  
  div.DTE_Inline input {
    border: none;
    background-color: transparent;
    padding: 0 !important;
    font-size: 90%;
  }

  div.DTE_Inline input:focus {
    outline: none;
    background-color: transparent;
  }

  </style>


    </head>
    <body class="hold-transition skin-blue sidebar-mini  sidebar-collapse" id="{% block body_id %}{% endblock %}">
        <div class="wrapper">

            {% block header %}
             <!--   <header id="header" class="bck1 border-bottom">
                    <div class="container">
                        <h1>{% if title is defined %}{{title}}{% else %}Header{% endif %}</h1>
                    </div>
                </header> -->
            {% endblock %}

            {% block nav %}
            
            
            <header class="main-header">
                <!-- Logo -->
                <a href="{{path('connexion')}}" class="logo" >
                  <!-- mini logo for sidebar mini 50x50 pixels -->
                <!--  <span class="logo-mini"><b>F</b>C</span> -->
                  <!-- logo for regular state and mobile devices -->
                  <span class="logo-lg"><b>{{ render(controller('App\\Controller\\SocieteController::getinfoPrincipaleTwig', {'partie': 'getRaisonSocial'})) }}</b></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                  <!-- Sidebar toggle button-->
                  <a href="#" class="sidebar-toggle" data-toggle="push-menu" data-widget="pushmenu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>




                  {% block flash %}
                      {% for flash_message in app.session.flashbag.get('success') %}
                          <div class="col-md-4 alert alert-success" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}
                      {% for flash_message in app.session.flashbag.get('info') %}
                          <div class="col-md-4 alert alert-info" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}
                      {% for flash_message in app.session.flashbag.get('warning') %}
                          <div class="col-md-4 alert alert-warning" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}
                      {% for flash_message in app.session.flashbag.get('danger') %}
                          <div class="col-md-4 alert alert-danger" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}
                  {% endblock %}
            
                  <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      <!--
                    {% if is_granted('ROLE_GERANT') %}
                          <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                              <a class="nav-link" href="{{path('ajouter_societe')}}"><i class="fa fa-plus"></i> <span class="hidden-xs">Ajouter une </span>Société</a>
                          </li>

                          <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                              <a class="nav-link" href="{{path('ajouter_utilisateur')}}"><i class="fa fa-plus"></i> <span class="hidden-xs">Ajouter un</span> Utilisateur</a>
                          </li>
                    {% endif %}
                    -->
        
                    {% if menuExportAfficher is defined %}
                       <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span>EXPORT</span>
                        </a>
                        <ul class="dropdown-menu">  
                            <li>
                                <ul class="menu" id="menuEXPORT">
                                </ul>

                            </li>                  
                        </ul>
                      </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}

                        <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <img src="{{ asset(render(controller(
        'App\\Controller\\UtilisateurController::getAbsolutePathFichierTwig'
        
    ))) }}" class="user-image" alt="{{ app.user.NomUtilisateur }}, {{ app.user.PrenomUtilisateur }}">
                          <span class="hidden-xs">{{ app.user.username }} sur {{ render(controller('App\\Controller\\SocieteController::getinfoPrincipaleTwig', {'partie': 'getRaisonSocial'})) }}</span>
                        </a>
                        <ul class="dropdown-menu">
                          <!-- User image -->
                          <li class="user-header">
                            <img src="{{ asset(render(controller(
        'App\\Controller\\UtilisateurController::getAbsolutePathFichierTwig'
        
    ))) }}" class="img-circle" alt="{{ app.user.NomUtilisateur }}, {{ app.user.PrenomUtilisateur }}">

                            <p>
                              {{ app.user.NomUtilisateur }}, {{ app.user.PrenomUtilisateur }}
                            </p>
                          </li>
                          
                          <!-- Menu Footer-->
                          <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-primary btn-block" href="{{ path('editer_utilisateur', {tokenUtilisateurChercher: app.user.tokenUtilisateur}) }}"><i class="fa fa-user"></i> Profil</a>
                            </div>
                            <div class="pull-right" >
                              <a class="btn btn-primary btn-danger" href="{{path('logout')}}"><i class="fa fa-sign-out"></i> Se déconnecter</a>
                            </div>
                          </li>
                        </ul>
                      </li>
                      {% endif %}
                      <!-- Messages: style can be found in dropdown.less-->                     
                     {% if is_granted('ROLE_USER') %}
                     
                     {% else %}
                     <li style="background: #00a65a !important;" class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                        <a class="nav-link" href="{{path('connexion')}}"><i class="fa fa-sign-in"></i> Se connecter</a>
                     </li>
                     {% endif %}
                     
                    </ul>
                  </div>
                </nav>
              </header>

            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar" style="height: auto;">
                  <!-- Sidebar user panel -->
                  
                  <div class="user-panel">
                    <div class="pull-left image">
                      <img src="{{ asset(render(controller('App\\Controller\\SocieteController::getAbsolutePathLogoTwig', {'id': render(controller('App\\Controller\\SocieteController::getinfoPrincipaleTwig', {'partie': 'getId'}))}))) }}" class="img-circle" alt="{{path('editer_societe', { tokenChercher: render(controller('App\\Controller\\SocieteController::getinfoPrincipaleTwig', {'partie': 'getTokenSociete'})) })}}">
                    </div>
                    {% if is_granted('ROLE_USER') %}
                    <div class="pull-left info">
                      <p>{{ app.user.username }}</p>
                      <a href="#"><i class="fa fa-circle text-success"></i> En ligne</a>
                    </div>
                    {% endif %}
                  </div>
                  <!-- sidebar menu: : style can be found in sidebar.less -->
                  <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="treeview">
                      <a href="{{path('editer_societe', { tokenChercher: render(controller('App\\Controller\\SocieteController::getinfoPrincipaleTwig', {'partie': 'getTokenSociete'})) })}}">
                        <i class="fa fa-gears"></i> <span>Configuration {{ render(controller('App\\Controller\\SocieteController::getinfoPrincipaleTwig', {'partie': 'getRaisonSocial'})) }}</span>
                      </a>
                    </li> 
                    {% if is_granted('ROLE_USER') %}
                    <!-- <li class="header">Menu</li> -->
                    <li class="treeview">
                      <a href="{{ path('list_societe') }}">
                        <i class="fa fa-folder"></i> <span>Dossiers</span>
                      </a>
                    </li>  
                    {% endif %}
                    {% if app.session.get('tokenSocieteConnecte') != 'vide' %}
                    <!-- <li class="header">Menu</li> -->
                    <li class="treeview">
                      <a href="{{ path('ecriture') }}">
                        <i class="fa fa-folder"></i> <span>Ecriture</span>
                      </a>
                    </li>  
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="header">FACNOTE</li>
                    <li class="treeview">
                      <a href="{{ path('list_utilisateur_facnote') }}">
                        <i class="fa fa-users"></i> <span>Tous les Users</span>
                      </a>
                    </li> 
                    {% else %}
                      {% if app.session.get('tokenSocieteConnecte')  != 'vide' %}
                        <li class="treeview">
                          <a href="{{ path('list_utilisateur_societe', {tokenChercher: app.session.get('tokenSocieteConnecte')}) }}">
                            <i class="fa fa-users"></i> <span>Utilisateurs</span>
                          </a>
                        </li> 
                      {% else %}
                        <li class="treeview">
                          <a href="{{ path('list_utilisateur') }}">
                            <i class="fa fa-users"></i> <span>Utilisateurs</span>
                          </a>
                        </li> 
                      {% endif %}
                    {% endif %}
                  </ul>
                      </section>
                <!-- /.sidebar -->
              </aside>
            
                <!-- Main Sidebar Container -->
          <aside style="display: none;" class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
              <img src="{{ asset('assets/dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                   style="opacity: .8">
              <span class="brand-text font-weight-light">FC</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
              <!-- Sidebar user panel (optional) -->
              <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                  <img src="{{ asset('assets/dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
                </div>
                {% if is_granted('ROLE_USER') %}
                <div class="info">
                  <a href="#" class="d-block">{{ app.user.username }}</a>
                </div>
                {% endif %}
              </div>

              <!-- Sidebar Menu -->
              <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
                  <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link {% if mainNavHome is defined %}active{% endif %}">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                        Accueil
                        <i class="right fa fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% if is_granted('ROLE_USER') %}
                      <li class="nav-item has-treeview">
                        <a href="{{path('list_societe')}}" class="nav-link {% if mainNavDossier is defined %}active{% endif %}">
                          <i class="fa fa-sitemap nav-icon"></i>
                          <p>Sociétés</p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('list_societe') }}" class="nav-link">
                                  <i class="fa fa-list-ol nav-icon"></i>
                                  <p>Liste</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('ajouter_societe') }}" class="nav-link">
                                    <i class="fa fa-plus-circle nav-icon"></i>
                                    <p>Ajouter société</p>
                                </a>
                            </li>
                        </ul>
                      </li>
                        {% endif %}
                      {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item has-treeview">
                            <a href="{{path('list_utilisateur')}}" class="nav-link {% if mainNavUtilisateur is defined %}active{% endif %}">
                              <i class="fa fa-users nav-icon"></i>
                              <p>Utilisateurs</p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{{ path('list_utilisateur') }}" class="nav-link">
                                      <i class="fa fa-list-ol nav-icon"></i>
                                      <p>Liste</p>
                                    </a>
                                </li>

                        </ul>
                        </li>
                        {% endif %}
                    </ul>
                  </li>
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
          </aside>
            {% endblock %}

            <!-- Content Wrapper. Contains page content -->
             <div class="content-wrapper">
                 
                 <section class="content-header">
      <h1>
         {% if is_granted('ROLE_USER') %}
         <span class="hidden-xs">{{ app.user.username }} sur {{ render(controller('App\\Controller\\SocieteController::getinfoPrincipaleTwig', {'partie': 'getRaisonSocial'})) }}</span>
         {% endif %}
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="#">test</a></li>
        <li class="active">testactive</li>
      </ol> -->
    </section>
    
<section class="content">


    <div class="row">
    <div class="col-xs-12">
      <div class="box">
        
        <!-- /.box-header -->
        <div class="box-body">

    {% block body %}
    {% endblock %}

        </div>
        
      </div>
    </div>
</div>

</section>

                
            </div>
            {% block footer %}
                <footer class="main-footer">
                     <strong>Copyright &copy; 2018 <a href="#">FACNOTE.com</a>.</strong>
                    All rights reserved.
                </footer>
            {% endblock %}

            



          
        </div>
<!-- ./wrapper -->

        {% block javascripts %}
          <!-- jQuery -->
          <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
        <!-- <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script> -->
          


          <!-- Bootstrap 4 -->
          <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
          <!-- DataTables -->
          <script type="text/javascript" src="{{ asset('assets/DataTables/JSZip-2.5.0/jszip.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Editor-1.7.4/js/dataTables.editor.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Editor-1.7.4/js/editor.bootstrap4.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/AutoFill-2.3.0/js/dataTables.autoFill.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/AutoFill-2.3.0/js/autoFill.bootstrap4.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Buttons-1.5.2/js/dataTables.buttons.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Buttons-1.5.2/js/buttons.bootstrap4.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Buttons-1.5.1/js/buttons.colVis.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Buttons-1.5.2/js/buttons.flash.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Buttons-1.5.2/js/buttons.html5.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Buttons-1.5.2/js/buttons.print.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Responsive-2.2.2/js/responsive.bootstrap4.min.js') }}"></script>
          <script type="text/javascript" src="{{ asset('assets/DataTables/Select-1.2.6/js/dataTables.select.min.js') }}"></script>



          <script src="{{asset('assets/js/zoom.js')}}"></script>




       <!--   <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.js') }}"></script>
          <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
          <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
          <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
          <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
          <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
          <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
          <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script> 
          <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.js') }}"></script>-->
          <!-- SlimScroll -->
          <script src="{{ asset('assets/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
          <!-- FastClick -->
          <script src="{{ asset('assets/plugins/fastclick/fastclick.js') }}"></script>
          <!-- AdminLTE App -->
          <script src="{{ asset('assets/dist/js/adminlte.min.js') }}"></script>
          <!-- AdminLTE for demo purposes -->
          <script src="{{ asset('assets/dist/js/demo.js') }}"></script>
          <!-- Bootstrap WYSIHTML5 -->
          <script src="{{ asset('assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>

           {% if menuEditeurAfficher is defined %}

           <script type="text/javascript" language="javascript" class="init">
  


var monEditeur; // use a global for the submit and return data rendering in the examples

$(document).ready(function() {
  monEditeur = new $.fn.dataTable.Editor( {
    ajax: {
      url: "/EditorDatatables/examples/php/join.php?token={{ tokenSociete }}",
      type: 'POST'
    },
    table: "#editeurTable",
    fields: [ {
        label: "Journal:",
        name: "ecriture.id_journal_id",
        type: "select",
        placeholder: "Selectionnez un journal"
      }, {
        label: "Date:",
        name: "ecriture.date_ecriture",
        type: "date"
      }, {
        label: "Libellé:",
        name: "ecriture.libelle_ecriture"
      }, {
        label: "N° de compte:",
        name: "ecriture.num_compte_ecriture"
      }, {
        label: "Débit:",
        name: "ecriture.debit_ecriture",
      }, {
        label: "Crédit:",
        name: "ecriture.credit_ecriture"
      }, {
        label: "Exercice:",
        name: "ecriture.id_exercice_id",
        type: "select",
        placeholder: "Selectionnez un exercice"
      }
    ]
  } );

  var table = $('#editeurTable').DataTable( {
    language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
    paging: false,
    dom: "Bfrtip",
    ajax: {
      url: "/EditorDatatables/examples/php/join.php?token={{ tokenSociete }}",
      type: 'POST'
    },
    columns: [
      {
        data: null,
        defaultContent: '',
        className: 'select-checkbox',
        orderable: false
      },
      { data: "journal.libelle_journal", editField: "ecriture.id_journal_id" },
      { data: "ecriture.date_ecriture" },
      { data: "ecriture.libelle_ecriture" },
      { data: "ecriture.num_compte_ecriture" },
      { data: "ecriture.debit_ecriture", render: $.fn.dataTable.render.number( ' ', '.', 0, '','€' ) },
      { data: "ecriture.credit_ecriture", render: $.fn.dataTable.render.number( ' ', '.', 0,'', '€' ) },
      { data: "exercice.libelle_exercice", editField: "ecriture.id_exercice_id" }
    ],
    keys: {
      columns: ':not(:first-child)',
      editor:  monEditeur
    },
    select: {
      style:    'os',
      selector: 'td:first-child',
      blurable: true
    },
    buttons: [


      { extend: 'create', editor: monEditeur },
      { extend: "edit",   editor: monEditeur },
      { extend: "remove", editor: monEditeur }
    ]
  } );
} );



  </script>




          
        {% endif %}


          {% if menuExportAfficher is defined %}
            <script>


               $(function () {

                    codeListTable = $("#utilisateurTable").DataTable({
                      "language": {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                        },
                        paging: false,

                    });
                    new $.fn.dataTable.Buttons( codeListTable, {

                        

                        buttons: [
                            {

                            "container": "dropdown-menu",
                            
                            extend:    'copy',
                                        text:      '<i class="fa fa-files-o"></i> Copy',
                                        titleAttr: 'COPIER',
                                        tag: 'li',
                                        className: 'btn btn-primary btn-block'
                                        },
                                        {
                                        extend:    'csv',
                                        text:      '<i class="fa fa-files-o"></i> CSV',
                                        titleAttr: 'CSV',
                                        tag: 'li',
                                        className: 'btn btn-primary btn-block',
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                        },
                                        {
                                        extend:    'excel',
                                        text:      '<i class="fa fa-files-o"></i> Excel',
                                        titleAttr: 'Excel',
                                        tag: 'li',
                                        className: 'btn btn-primary btn-block',
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                        },
                                        {
                                        extend:    'pdf',
                                        text:      '<i class="fa fa-file-pdf-o"></i> PDF',
                                        titleAttr: 'PDF',
                                        tag: 'li',
                                        className: 'btn btn-primary btn-block',
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                        },               
                                        {
                                        extend:    'print',
                                        text:      '<i class="fa fa-print"></i> Print',
                                        titleAttr: 'IMPRIMER',
                                        tag: 'li',
                                        className: 'btn btn-primary btn-block',
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                            },  
                        ]
                    } );

                    codeListTable.buttons().container().appendTo('#menuEXPORT');

                  });
            </script>
          {% endif %}
          <script>
             $(function () {
              $('.textarea').wysihtml5({
                    toolbar: { fa: true }
                  })
                });
          </script>



        {% endblock %}
    </body>
</html>
